<form class="form-inline my-2 my-lg-0">
    <div *ngIf="!user">
        
            <input type="text" class="form-control mr-sm-2" placeholder="User Name" [(ngModel)]="name" name="name"/>
            <input type="password" class="form-control mr-sm-2" placeholder="Password" [(ngModel)]="password" name="password"/>

        <button class="btn btn-default" (click)="Login()">Login</button>
    </div>  
    <div *ngIf="user">
        <div class="form-group form-inline">
            <span [ngStyle]="{'color':'white'}">{{user.firstName}}</span>
            <button class="btn btn-default" (click)="Logout()">Logout</button>
        </div>
    </div>  
</form>