<div>
    <div class="form-group">
        <input *ngIf="!userNameReadOnly" type="text" class="form-control"  [(ngModel)]="user.userName" placeholder="User name" name="userName"/>
        <div *ngIf="userNameReadOnly" class="form-control" > {{user.userName}}</div>
    </div>

    <div class="form-group form-inline">
        <input type="text" class="form-control"  [(ngModel)]="user.firstName" placeholder="First name" name="firstName"/>
        <input type="text" class="form-control"  [(ngModel)]="user.lastName" placeholder="Last name" name="lastName"/>     
    </div>
    <div class="form-group">
        <input type="email" class="form-control" [(ngModel)]="user.email" placeholder="Email" name="email"/>
    </div>
    <div class="form-group">
        <datepicker [(ngModel)]="user.birthDate" [minDate]="datePicker.minDate" [maxDate]="datePicker.maxDate" name="selectedDate" [placeholder]="datePicker.birthdatePlaceholder"></datepicker>
    </div>
</div>    
